[Unit]
Description=Nexus service
Wants=datadir.mount
After=network.target datadir.mount

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/nexus/bin/nexus start
ExecStop=/opt/nexus/bin/nexus stop
User=nexus
Restart=always
RestartSec=3
TimeoutSec=600

[Install]
WantedBy=multi-user.target
